.bundle
.cache
.DS_Store
.sass-cache
build/

# do not include artwork
source/images/*
!source/images/.gitkeep
originals/*
!originals/.gitkeep
old-versions

new.csv

# do not include credentials file
credentials.rb
