---
title: Elsworth Artworks
body_class: album_list
---

<% contents.each do |item| %>
  <% unless defined? parent_item %>
    <% next unless (item[:parent].to_s.empty?) # skip items that have a parent defined %>
  <% end %>
<%# Set class to wide if width is greater than twice the height %>
<%
  section_class = (item[:tags].to_s.include? "Wide") ? "wide" : ""
  section_class = "wide" if item[:height] && item[:width].to_f/item[:height].to_f > 2.0
%>
<section class="<%= section_class  %>">
  <h3><%= item[:title] %></h3>
  <figure>
    <%= link_to image_tag(img_path(item), {:alt => item[:title]}), item_path(item) %>
  </figure>
</section>
<% end %>
