---
title: Elsworth Artworks
subtitle: Clients and Patrons
body_class: clients
images:
  - drawings/wineries/v_sattui_1080.jpg
  - drawings/wineries/sequoia_grove_1080.jpg
  - drawings/wineries/travigne_1080.jpg
  - drawings/wineries/sutter_home_1080.jpg
clients:
  - patron:
    name: Tra Vigne Restaurant
    link: drawings/wineries/travigne
  - patron:
    name: Santa Fe Bar and Grill
    link: drawings/wineries/santa_fe_bar_and_grill
  - patron:
    name: Shananigan&apos;s Restaurant
  - patron:
    name: Veranda Club Spa
  - patron:
    name: Maison Fleurie
  - patron:
    name: Charles Krug Winery
    link: drawings/wineries/charles_krug
  - patron:
    name: Mondavi Winery
  - patron:
    name: Sequoia Grove Winery
    link: drawings/wineries/sequoia_grove
  - patron:
    name: Schramsberg Winery
  - patron:
    name: Sutter Home Winery
    link: drawings/wineries/sutter_home
  - patron:
    name: Villa Andriana Winery
  - patron:
    name: V. Sattui Winery
    link: drawings/wineries/v_sattui
  - patron:
    name: Loma Alexander
    link: drawings/home/alexanders_house
  - patron:
    name: Jill Mahoney-Banks
    link: oil/portraits/jill
  - patron:
    name: Sharlee Merner Bradley
    link: oil/portraits/joie_de_vivre-11x14
  - patron:
    name: Fran Cain
    link: oil/portraits/frans_portrait
  - patron:
    name: Tiffany Chinn
  - patron:
    name: Chinn Chinese Medicine
  - patron:
    name: Brian Dunagan
  - patron:
    name: Laurie Gill
  - patron:
    name: Sharleen Houston
  - patron:
    name: Carla Zambelli Mudri
  - patron:
    name: Juan Kelly
  - patron:
    name: Sheri Scott
    link: oil/portraits/sheri_and_grapes
  - patron:
    name: Sensei Jerrell Smith
    link: oil/portraits/sensei_jerrell
  - patron:
    name: Sunnyside Cottages, St. Helena, CA
  - patron:
    name: Windswept Cottage, Gualala, CA
  - patron:
    name: Mary Zarekari Dentistry
  - patron:
    name: Richard Zulch
    link: oil/portraits/zanna
  - patron:
    name: Sarah and Tim Fitzpatrick
    link: oil/figures/giant-octopus-ii
---
<figure>
<% current_page.data.images.each do |image| %>
<%= image_tag image %>
<% end %>
</figure>
<p class="caption">Many thanks to all of my clients and patrons, both listed here and otherwise!</p>
<section>
<% current_page.data.clients.each do |patron| %>
<p>
  <% if patron[:link] %>
  <%= link_to(patron[:name], patron[:link]) %>
  <% else %>
  <%= patron[:name] %>
  <% end %>
</p>
<% end %>
</section>
