---
title: Elsworth Artworks
body_class: album_list
contents:
  - folder: oil
    title: Oil Paintings
    path: support/three_tall_pieces_1080.jpg
    width: 400
    height: 300
  - folder: drawings
    title: Drawings
    path: drawings/home_and_nature/up_a_tree_1080.jpg
    width: 150
    height: 400
  - folder: other
    title: Other
    path: other/jamuna/jamuna_1080.jpg
    width: 200
    height: 400
  - folder: ceramics
    title: Ceramics
    path: ceramics/2007/kiwi_emerald_large_bowl_1080.jpg
    width: 400
    height: 300
---

<% current_page.data.contents.each do |img| %>
<section>
  <figure>
    <% if img.width > img.height %>
    <%# Specify width, but not height %>
    <%= link_to image_tag(img[:path], :alt => img[:title], :width => img.width), img[:folder] %>
    <% else %>
    <%# Specify height, but not width %>
    <%= link_to image_tag(img[:path], :alt => img[:title], :height => img.height), img[:folder] %>
    <% end %>
  </figure>
  <h3><%= img[:title] %></h3>
</section>
<% end %>
