---
title: Elsworth Artworks
body_class: album_list
contents:
  - folder: oil
    title: Oil Paintings
    path: support/three_tall_pieces_1080.jpg
  - folder: drawings
    title: Drawings
    path: drawings/nature/up_a_tree_1080.jpg
  - folder: chess
    title: Chess
    path: chess/glazed/black_king_and_queen-backs_1080.jpg
  - folder: ceramics
    title: Ceramics
    path: ceramics/2007/kiwi_emerald_large_bowl_1080.jpg
---

<% current_page.data.contents.each do |img| %>
<section>
  <figure>
    <%= link_to image_tag(img[:path], :alt => img[:title]), img[:folder] %>
  </figure>
  <h3><%= img[:title] %></h3>
</section>
<% end %>
