---
title: Elsworth Artworks
subtitle: Shows
body_class: shows
---

<% if data.site_info.shows.current_shows %>
<section>
  <h3>Current and Upcoming</h3>
<% data.site_info.shows.current_shows.each do |show| %>
  <p>
      <span class="date"><%= show[:dates] %></span> - <%= link_to_if(show[:name], show[:link]) %>
  </p>
<% end %>
</section>
<% end %>

<section>
  <h3>Past</h3>
<% data.site_info.shows.past_shows.each do |show| %>
  <p>
      <span class="date"><%= show[:dates] %></span> - <%= link_to_if(show[:name], show[:link]) %>
  </p>
<% end %>
</section>